<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>

    <body class="d-flex flex-column h-100 bg-dark">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">Strange API</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/docs">Documentation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/discord">Discord</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link log-out-button" href="/logout">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Content-->
            <div class="container px-5 my-5 bg-dark">
                <div class="row">
                    <div class="col-md-m3 align-items-center">
                        <div class="d-flex flex flex-column text-left align-items-center">
                            <img
                                class="rounded-circle mt-3 mb-3 user-profile"
                                width="130px"
                                src="<%= avatar %>"
                                alt="discord avatar"
                                crossorigin="anonymous"
                            /><span class="font-weight-bold text-white"><%= username %></span>
                        </div>

                        <div class="col-lg-12">
                            <div class="align-items-center p-3 py-5">
                                <div class="d-flex justify-content-between mb-3 align-items-center">
                                    <h4 class="fw-bolder text-white mb-2">API Key</h4>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <input
                                            disabled
                                            style="display: block"
                                            type="text"
                                            id="apikeyhide"
                                            class="form-control api-key-box"
                                            placeholder="<%= hidden %>"
                                            value="<%= hidden %>"
                                        />
                                        <input
                                            disabled
                                            type="text"
                                            style="display: none !important"
                                            id="apikeyshow"
                                            class="form-control api-key-box"
                                            placeholder="<%= apiKey %>"
                                            value="<%= apiKey %>"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="py-2 text-center align-items-center justify-content-center">
                                <button onclick="generateApiKey()" class="btn btn-primary api-key-button" type="button">
                                    <i class="<%= apiKey ? 'fas fa-sync-alt' : 'fas fa-key' %>"></i>
                                    <span><%= apiKey ? "Regenerate" : "Generate" %></span>
                                </button>
                                <button onclick="copyApiKey()" class="btn btn-primary api-key-button" type="button">
                                    <i class="fas fa-copy"></i>
                                    <span>Copy</span>
                                </button>
                                <button
                                    onclick="showApiKey()"
                                    id="showBtn"
                                    class="btn btn-primary api-key-button"
                                    type="button"
                                >
                                    <i class="fas fa-eye"></i>
                                    <span>Show</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer-->
        <%- include ("partials/footer") %>

        <script src="assets/scripts.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css"
        />
    </body>
</html>
